@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body{

  /* margin-top: 2px;
  margin-left: 100px;
  margin-right: 100px; */
  font-family: 'Dancing Script';
  background-color: black;
}
.contenedor{
  margin: 0 auto;
  width: 900px;
}
h1{
  margin-left: 20px;
  width: 50%;
  margin-top: 0px;
  padding-top: -10px;
}
nav a{
  font-size: 25px;
  color: white;
  text-decoration: underline;
}
nav a:hover{
  text-decoration: none;
}

nav{
  margin-top: -65px;
  height: 100%;
}
.cabecera{
  padding-bottom: 30px;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #5b7989;
  color: white;
  text-shadow: 0 0 2px #02010a;
  text-align: left;
  padding-top: 30px;
}
.ImagenPrincipal{
  padding-top: 40px;
  text-align: center;
  padding-bottom: 40px;
  background-color: #82c3a6;
}
.ImagenPrincipal img{
  height: 60%;
  width: 90%;
  border: 2px solid black;
}
ul{
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  height: 100%;
}
li{
  float: right;
  display: inline;
  margin: 0px 5px;
  padding: 15px 0px;
  height: 100%;
}

.Contenedor2{
  display: flex;
  background-color: #d5c75f;
  margin-bottom: -20px;
}

.ImagenSegIzq{
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;

}
.ImagenSegIzq img{
  height: 90%;
  width: 85%;
  border: 2px solid black;
  margin-left: 35px;

}

.ImagenSegIzq img:hover{
  animation: foto1 3s;

}

.ImagenSegDer{
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.ImagenSegDer img{
  height: 90%;
  width: 80%;
  border: 2px solid black;
}

.ImagenSegDer img:hover{
animation: foto2 3s;
  /* transform: translate(20px, -5px); */
}

picture a{
  text-align: center;
  font-size: 25px;
  color: black;
}

@-webkit-keyframes foto1{
  100%{
  transform: rotate(10deg);
        }
}


@-webkit-keyframes foto2{
  100%{
  transform: translate(20px, -5px);
      }
}

.PiePagina{
  padding-top: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 10px;
  background-color: #C6d5c5;
  display: flex;
}

.Contacto{
  width: 25%;
  padding-left: 80px;
}

.Terminos{
  width: 25%;
  padding-left: 40px;
}

.Redes{
  width: 25%;
  padding-left: 40px;
}

.Redes img{
  float: left;
}

.Derechos{
  width: 25%;
  padding-left: 40px;
}

@media (max-width: 900px) {
  .contenedor{
    width: 100%;
  }
  .cabecera h1{
    width: 100%;
  }
.lista{
  display: flex;
  margin-top: 60px;
  margin-left: 40px;
  width: 100%;
}

  .Contenedor2{
    display: flex;
    flex-direction: column;
  }
  .ImagenSegDer{
  margin: auto;

  }
  .ImagenSegIzq{
  margin-right: 30px;
  }
  .PiePagina{
    display: block;
    margin-top: 10px;
  }
  .Contacto{
    width: 100%;
    margin-left: -40px;
  }
  .Terminos{
    width: 100%;
  }
  .Redes{
    width: 100%;
  }
  .Derechos{
    width: 100%;
    height: 100px;
  }

}
